/* レクリエーション一覧 */
.recList {
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
}
.recList-item {
  border-radius: var(--border-radius);
  padding: 0.5em 0.75em;
  cursor: pointer;

  color: var(--color-text);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}
.recList-item:not(.active):hover,
.recList-item:not(.active):focus {
  background-color: var(--border-color);
}
.recList-item.active {
  background-color: var(--color-secondary);
  color: #fff;
}
.recList-item.active:hover,
.recList-item.active:focus {
  background-color: var(--color-secondary-hover);
}

/* 現在のレクリエーション */
.currentRec {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.currentRec-item .card-image {
  max-width: 25rem;
  flex-shrink: 0;
}
.currentRec-item .card-content {
  flex-grow: 1;
}

/* 上下移動ボタン */
.moveButtonGroup {
  flex-shrink: 0;
  width: 3rem;

  display: flex;
  flex-flow: column;
  align-items: center;

  font-size: var(--text-size4);
}
.moveButton {
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition-duration: var(--transition-duration);
  transition-property: background-color;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}
.moveButton.enabled {
  visibility: initial;
}
.moveButton.enabled:hover,
.moveButton.enabled:focus {
  background-color: var(--color-secondary);
}
.moveButton:first-child {
  border-top-left-radius: var(--border-radius);
}
.moveButton:last-child {
  border-bottom-left-radius: var(--border-radius);
}

/* 削除ボタン */
.trashButton {
  flex-shrink: 0;
  width: 3rem;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition-duration: var(--transition-duration);
  transition-property: background-color;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  font-size: var(--text-size4);
}
.trashButton:hover,
.trashButton:focus {
  background-color: var(--color-danger);
  color: #fff;
}
