.collapseContainer {
  margin-top: 0.5rem;
}

.collapse-summary {
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: transparent;
  transition-duration: var(--transition-duration);
  transition-property: background-color;

  display: inline-flex;
  width: 100%;
}
.collapse-summary:hover {
  background-color: var(--border-color);
}
.collapse:not([open]) .collapse-summary {
  border: 1px solid;
  border-color: var(--border-color);
}
.collapse[open] {
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}
.collapse[open] .collapse-summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding-bottom: 1px; /* borderの太さぶん */
}
.collapse-summaryIcon_open,
.collapse-summaryIcon_close {
  margin-left: 0.5rem;
}
.collapse[open] .collapse-summaryIcon_close {
  display: none;
}
.collapse-summaryIcon_open {
  display: none;
}
.collapse[open] .collapse-summaryIcon_open {
  display: inline;
}
.collapse-summaryTitle {
  margin-left: 0.5rem;
}
.collapse-details {
  padding: 0.3rem;
}

/* 一覧 */
.articlesListHeader {
  padding: 0 1rem;
  font-size: var(--text-size5);
}
.articlesList {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2rem 1rem;
}
.articlesList-item {
  max-width: 25rem;
}

.articleActions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.favButton {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  font-size: 1.5em;
}
.favButton:hover,
.favButton:focus {
  color: var(--color-danger);
}
