<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="assets/fontawesome-6.5.2/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="assets/fontawesome-6.5.2/css/solid.min.css" />
    <link
      rel="stylesheet"
      href="assets/fontawesome-6.5.2/css/regular.min.css"
    />
    <link rel="stylesheet" href="common/reset.css" />
    <link rel="stylesheet" href="common/base.css" />
    <link rel="stylesheet" href="search.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body class="body">
    <!-- ↓ナビバー -->
    <nav class="navbar">
      <div>
        <span class="navbar-item"> Test mock </span>
      </div>
      <div>
        <a class="navbar-item" href="./design.html"> レク企画 </a>
      </div>
      <div>
        <a class="navbar-item active" href="./search.html"> レク検索 </a>
      </div>
    </nav>
    <!-- ↑ナビバー -->
    <article id="app" v-cloak>
      <!-- ↓サイドバー -->
      <aside class="sidebar" id="sidebar">
        <div class="sidebarToggler" id="sidebarToggler">
          <button
            class="sidebarToggler-button"
            @click="toggleSidebar('#sidebar,#sidebarToggler')"
          >
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="検索"
            v-model="searchWord"
          />
        </div>
        <hr />
        <div class="control">
          <span class="label">並べ替え</span>
          <select class="select" v-model="sortOption">
            <option value="latest">最新</option>
            <option value="like">評価</option>
            <option value="view">閲覧数</option>
            <option value="random">ランダム</option>
          </select>
        </div>
        <hr />
        <div class="control">
          <div class="label">タグで検索</div>
        </div>
        <div class="collapseContainer vBetweenSpace">
          <div class="control" v-for="group in tagGroups">
            <details open class="collapse">
              <summary class="label collapse-summary">
                <span class="collapse-summaryIcon_open"
                  ><i class="fa-solid fa-angle-down"></i
                ></span>
                <span class="collapse-summaryIcon_close"
                  ><i class="fa-solid fa-angle-right"></i
                ></span>
                <span class="collapse-summaryTitle">{{ group }}</span>
              </summary>
              <div class="collapse-details checkboxes">
                <div class="checkbox" v-for="tag in tagsByGroup[group]">
                  <label>
                    <input
                      type="checkbox"
                      v-bind:value="tag"
                      v-model="selectedTags"
                    />{{tag.name}}</label
                  >
                </div>
              </div>
            </details>
          </div>
        </div>
        <hr />
        <div>
          <button class="button danger outline" @click="resetSearch">
            検索条件をリセット
          </button>
        </div>
      </aside>
      <!-- ↑サイドバー -->
      <!-- ↓メインコンテンツ -->
      <main class="main">
        <!-- 件数とか -->
        <div class="articlesListHeader">
          <span v-if="searchWord">「{{ searchWord.trim() }}」の検索結果</span>
          <span v-else>全</span> {{articles.length}} 件
        </div>
        <!-- 一覧 -->
        <div class="articlesList">
          <div class="articlesList-item" v-for="(article, index) in articles">
            <div class="card">
              <div class="card-image">
                <figure class="image_16x9">
                  <a
                    v-bind:href="`https://www.youtube.com/watch?v=${article.youtubeId}`"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      class="image"
                      v-bind:src="`https://img.youtube.com/vi/${article.youtubeId}/mqdefault.jpg`"
                      alt="YouTube"
                  /></a>
                </figure>
              </div>
              <div class="card-content vBetweenSpace">
                <div>
                  <h4 class="text-4">{{article.title}}</h4>
                  <h7 class="text-small">
                    {{article.publishedAt}}
                    <i class="fa-solid fa-heart" style="margin-left: 1rem"></i>
                    {{article.likeCount.toLocaleString()}}
                    <i class="fa-solid fa-eye" style="margin-left: 1rem"></i>
                    {{article.viewCount.toLocaleString()}}
                  </h7>
                  <div class="tags">
                    <button
                      class="tag secondary"
                      v-for="tag in article.tags"
                      @click="toggleSearchTag(tag)"
                    >
                      {{ tag.group }}:{{ tag.name }}
                    </button>
                  </div>
                </div>
                <div class="clampLine-4">{{article.description}}</div>
                <div class="articleActions">
                  <button class="favButton">
                    <i class="fa-regular fa-heart"></i>
                  </button>
                  <button class="button primary">レク企画に追加</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- ↑メインコンテンツ -->
    </article>
    <script src="assets/vue-3.4.31/vue.global.prod.js"></script>
    <script src="assets/lodash-4.17.15/lodash.min.js"></script>
    <script src="common/tags.js"></script>
    <script src="common/articles.js"></script>
    <script src="search.js"></script>
  </body>
</html>
