:root {
  --family-sans-serif: "YakuHanJPs", "Roboto", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Arial, "nc3Jp", sans-serif;

  --bulma-primary-h: 40deg;
  --bulma-primary-l: 78%;
  --bulma-link-h: 102deg;
  --bulma-link-s: 40%;
  --bulma-link-l: 60%;

  --bulma-hr-height: 1px;
  --bulma-hr-margin: 0.7rem 0;
}

._hContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
}

._vContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

._sidebar {
  width: 20rem;
  height: calc(100% - var(--bulma-navbar-height));

  padding: 1rem;

  top: var(--bulma-navbar-height);
  left: 0;
  position: fixed;
  right: 0;
  z-index: var(--bulma-navbar-fixed-z);
  overflow-y: scroll;
}
.has-navbar-fixed-top {
  /* サイドバーの幅ぶんだけbodyをずらす */
  padding-left: 20rem;
}

._main {
  width: 100%;
  height: 100%;

  padding: 1rem 1rem 0 1rem;
}
